#app{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
    
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
    
}
#myCarousel img{
height: 300px;
    margin-top: 35px;
}
#mycarousel2 img{
height: 425px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: azure;
    font-size: 25px;
}
#myCarousel{
    background-color: darkviolet;
}
#mycarousel2{
    background-color: deeppink;
}

.container{
 text-align: center;   
}